doctype html
html
    head
        script(src='https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3')
        //script(src='https://cdn.jsdelivr.net/npm/luxon@1.22.1')
        script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1')

    body

        script(src='/js/script.js')

    canvas#co2
    canvas#temp

        script.
            var bdata = !{JSON.stringify(bayoudata)};
            makeChart("co2",bdata,"co2");
            makeChart("temp",bdata,"tempc");